<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= game.active %>
  </p>

  <p>
    <strong>Plataform:</strong>
    <%= game.plataform_id %>
  </p>

  <p>
    <strong>Work:</strong>
    <%= game.work_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= game.region_id %>
  </p>

  <p>
    <strong>Console:</strong>
    <%= game.console_id %>
  </p>

  <p>
    <strong>Tester:</strong>
    <%= game.tester %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= game.youtube %>
  </p>

  <p>
    <strong>Extra:</strong>
    <%= game.extra %>
  </p>

</div>
